.clip-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .clip-container iframe {
    width: 100%;
    height: 100%;
  }
  